/*PROJECT COLORS*/

header {
	background-color: #FFFFFF;
}

nav, header h1#title {
	border-right-color: #E5E5E5;
}

#bttmHeader {
	background-color: #FBFBFB;
	border-top-color: #E5E5E5;
}

#menu-icon {
	background-color: #FFFFFF;
	color: #666666;
	border-bottom-color: #E5E5E5;
}

#navi-wrap {
	border-top-color: #E5E5E5;
}

section {
	border-top-color: #E5E5E5;
	color: #212121;
	background-color: #FFFFFF;
}

footer{
	background: #F7F7F7;
	border-top-color: #ECECEC
}

a {
	color: %colour_link%;
}

nav li a {
	color: #4D4D4D
}

nav a.current {
	color: #4D4D4D;
}

nav li a:hover {
	color: #999999;
}

nav ul li:hover {
	border-color: %colour_dropdown_border%;
}

nav li ul li a {
    color: #4D4D4D;
}

nav li ul li a:hover {
    color: #666666;
}

#navi li a {
	color: #ffffff;
}

header h1#title  {
	color: #333333;
}

header h2#slogan  {
	color: #6C6C6C;
}

footer .container ul, footer .container ul, footer .container a, a#rw_email_contact {
	color: #333333;
}

section a:hover,
aside a:hover{
	color: %colour_link_hover%;
}

h1, h2, h3, h4, h5, h6,
span#asideTitle,
.album-title, .movie-page-title,
h1.blog-entry-title, 
h1.blog-entry-title a,
#blog-categories:before,
#blog-archives:before,
ul.blog-tag-cloud:before,
#blog-rss-feeds:before {
	color: #333333;
}

footer #left {
	color: #999999;
}

#content a, aside a, section a {
	color: #999999;
}

