/* #Media Queries
================================================== */

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 960px) and (max-width: 1399px) {

#banner .container { 
	min-width: 100%;
}

  }


@media only screen and (min-width: 959px) {

header {
}

.skiptonav, #menu {
	display: none;
}

	}


  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 1199px) {

header {
}

#headerWrapper .container {
	width: 100%;
}

#banner .container { 
	min-width: 100%;
}

  }

  /* All Mobile Sizes (devices and browser) */
   @media only screen and (min-width: 480px) and (max-width: 768px) {
   
#headerWrapper .container, #banner .container, #freeStyle img {
	min-width: 100%;
}

body {
	overflow-x: hidden;
}

header h2#slogan {
	margin-top: 54px;
}

#headerWrapper nav {
	display: none;
}

#bttmHeader {
	height: 135px;
}

#navi-wrap, #menu-icon {
	display: block;
}

nav ul {
	margin: 0;
	padding: 0; /*Eliminate Spacing on Mobile Ul's*/
}

nav li ul li{
	opacity: 1;
}

  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
  
body {
	overflow-x: hidden;
}
  
#headerWrapper .container, #banner .container, #freeStyle img {
	min-width: 100%;
}

header h2#slogan {
	margin-top: 54px;
}

#headerWrapper nav {
	display: none;
}

#bttmHeader {
	height: 135px;
}

#navi-wrap, #menu-icon {
	display:block;
}

nav ul {
	margin: 0;
	padding: 0; /*Eliminate Spacing on Mobile Ul's*/
}

nav li ul li{
	opacity: 1;
}

footer #left {
	clear: both;
}

  }
