/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 980 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 980 Grid
================================================== */

    .container                            { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .column, .columns                           { float: left; display: inline; margin-left: 3px; margin-right: 3px; margin-bottom: 30px;}
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 50px;  }
    .container .two.columns                     { width: 110px; }
    .container .three.columns                   { width: 170px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 290px; }
    .container .six.columns                     { width: 350px; }
    .container .seven.columns                   { width: 410px; }
    .container .eight.columns                   { width: 470px; }
    .container .nine.columns                    { width: 530px; }
    .container .ten.columns                     { width: 590px; }
    .container .eleven.columns                  { width: 650px; }
    .container .twelve.columns                  { width: 710px; }
    .container .thirteen.columns                { width: 770px; }
    .container .fourteen.columns                { width: 830px; }
    .container .fifteen.columns                 { width: 890px; }
    .container .sixteen.columns                 { width: 960px; }

    .container .one-third.column                { width: 310px; }
    .container .portfolio-item.one-third.column  { width: 296px; }
    .container .two-thirds.column               { width: 630px; }
    
    

    /* Offsets */
    .container .paddingLeft_one                   { padding-left: 50px;  }
    .container .paddingLeft_two                   { padding-left: 120px; }
    .container .paddingLeft_three                 { padding-left: 180px; }
    .container .paddingLeft_four                  { padding-left: 240px; }
    .container .paddingLeft_five                  { padding-left: 300px; }
    .container .paddingLeft_six                   { padding-left: 360px; }
    .container .paddingLeft_seven                 { padding-left: 420px; }
    .container .paddingLeft_eight                 { padding-left: 480px; }
    .container .paddingLeft_nine                  { padding-left: 540px; }
    .container .paddingLeft_ten                   { padding-left: 600px; }
    .container .paddingLeft_eleven                { padding-left: 660px; }
    .container .paddingLeft_twelve                { padding-left: 720px; }
    .container .paddingLeft_thirteen              { padding-left: 780px; }
    .container .paddingLeft_fourteen              { padding-left: 840px; }
    .container .paddingLeft_fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 96%; padding: 0;}
        .container .column,
        .container .columns                         { margin-left: 1.041667%; margin-right: 1.041667%; }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 1.041667%; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 1.041667%; }

        .container .one.column                      { width: 3.645833; }
        .container .two.columns                     { width: 9.895833%; }
        .container .three.columns                   { width: 16.145833; }
        .container .four.columns                    { width: 22.395833%; }
        .container .five.columns                    { width: 28.645833%; }
        .container .six.columns                     { width: 34.895833%; }
        .container .seven.columns                   { width: 41.145833%; }
        .container .eight.columns                   { width: 47.395833%; }
        .container .nine.columns                    { width: 53.645833%; }
        .container .ten.columns                     { width: 59.895833%; }
        .container .eleven.columns                  { width: 66.145833%; }
        .container .twelve.columns                  { width: 72.395833%; }
        .container .thirteen.columns                { width: 78.645833%; }
        .container .fourteen.columns                { width: 84.895833%; }
        .container .fifteen.columns                 { width: 91.145833%; }
        .container .sixteen.columns                 { width: 99%; }

        .container .one-third.column                { width: 30.729167%; }
        .container .two-thirds.column               { width: 64.0625%; }

        /* Offsets */
        .container .paddingLeft_one                   { padding-left: 6.25%; }
        .container .paddingLeft_two                   { padding-left: 12.5%; }
        .container .paddingLeft_three                 { padding-left: 18.75%; }
        .container .paddingLeft_four                  { padding-left: 25%; }
        .container .paddingLeft_five                  { padding-left: 31.25%; }
        .container .paddingLeft_six                   { padding-left: 37.5%; }
        .container .paddingLeft_seven                 { padding-left: 43.75%; }
        .container .paddingLeft_eight                 { padding-left: 50%; }
        .container .paddingLeft_nine                  { padding-left: 56.25%; }
        .container .paddingLeft_ten                   { padding-left: 62.5%; }
        .container .paddingLeft_eleven                { padding-left: 68.75%; }
        .container .paddingLeft_twelve                { padding-left: 75%; }
        .container .paddingLeft_thirteen              { padding-left: 81.25%; }
        .container .paddingLeft_fourteen              { padding-left: 87.5%; }
        .container .paddingLeft_fifteen               { padding-left: 93.75%; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container  { width: 96%; padding: 0;}
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }

        /* Offsets */
        .container .paddingLeft_one,
        .container .paddingLeft_two,
        .container .paddingLeft_three,
        .container .paddingLeft_four,
        .container .paddingLeft_five,
        .container .paddingLeft_six,
        .container .paddingLeft_seven,
        .container .paddingLeft_eight,
        .container .paddingLeft_nine,
        .container .paddingLeft_ten,
        .container .paddingLeft_eleven,
        .container .paddingLeft_twelve,
        .container .paddingLeft_thirteen,
        .container .paddingLeft_fourteen,
        .container .paddingLeft_fifteen { padding: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container  { width: 96%; padding: 0;}
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 100%; }
    }



/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


