a#logo { /* Total Width and Height of Logo in PX = 84px by 86px */
 margin-top: 60px; /* Space in PX between Logo and top of page */
 background-size: 42px 43px; /* Total Width in PX ÷ 2 / Total Height in PX ÷ 2 */
 width: 42px; /* Total Width in PX ÷ 2 */
 height: 43px; /* Total Height in PX ÷ 2 */
}

#extraContainer1 img { /* Ensures Responsive Edge to Edge Banner in EC1 */
	display: block;
	position: relative;
	min-width: 100%;
	height: auto;
}